<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>test</title>
    <link
      rel="stylesheet"
      href="https://mybank.icbc.com.cn/icbc/newperbank/perbank3/style/style_default/css/base.css"
    />
    <link
      rel="stylesheet"
      href="https://mybank.icbc.com.cn/icbc/newperbank/perbank3/css/frame/css/style.css"
    />
    <link
      href="https://mybank.icbc.com.cn/icbc/newperbank/perbank3/css/frame/css/index.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://mybank.icbc.com.cn/icbc/newperbank/perbank3/style/style_default/css/common.css"
    />
    <link
      rel="stylesheet"
      href="https://mybank.icbc.com.cn/icbc/newperbank/perbank3/css/indexp.css"
    />
    <link
      rel="stylesheet"
      href="https://member.icbc.com.cn/Portal_Resources/Common/AdCss/NewLunboQT_MS_Layout.css"
    />
    <link
      rel="stylesheet"
      href="https://member.icbc.com.cn/icbc/include/AD_Huangdengpian.css"
    />
    <link
      rel="stylesheet"
      href="https://epass.icbc.com.cn/icbc/newperbank/css/style.css"
    />
    <link rel="stylesheet" href="https://epass.icbc.com.cn/css/login-s.css" />
    <link
      href="https://mybank.icbc.com.cn/icbc/newperbank/perbank3/css/new_headerFooter.css"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      body {
        font-family: 宋体;
      }
      select {
        font-size: 13px;
        font-family: 宋体;
        margin-left: 0px;
      }
      textarea {
        font-size: 12px;
        font-family: 宋体;
        margin-left: 0px;
      }
      input:empty {
        font-size: 13px;
        font-family: 宋体;
        margin-left: 0px;
        margin-top: 0px;
      }
      html,
      body {
        -webkit-text-size-adjust: none;
      }
      table,
      td {
        border-color: rgb(236, 233, 216);
      }
      input[type="text"],
      input[type="file"],
      input[type="reset"],
      input[type="submit"],
      input[type="button"],
      input[type="password"] {
        margin-left: 0px;
        margin-top: 0px;
      }
      input[type="radio"],
      input[type="checkbox"] {
        vertical-align: -2px;
        margin-top: 0px;
      }
    </style>
  </head>
  <body>
    <div id="index_dd">
      <div class="banner-bolck">
        <div>
          <div id="ICBC_login" style="display: block;">
            <div class="ICBC_login_center">
              <div class="ICBC_login_right">
                <div
                  id="divss"
                  tabindex="0"
                  hidefocus="true"
                  style="outline:none"
                ></div>
                <form
                  id="form1"
                  name="form1"
                  onsubmit="return false;"
                  action="/servlet/com.icbc.inbs.servlet.ICBCINBSEstablishSessionServlet"
                  target="hiddenPage1551098656201230864"
                  method="post"
                >
                  <input
                    type="hidden"
                    id="AutoVerify"
                    name="AutoVerify"
                    value="4"
                  />
                  <input
                    type="hidden"
                    id="requestChannelInput"
                    name="requestChannelInput"
                    value="302"
                  />
                  <input
                    type="hidden"
                    id="requestChannelzoneNo"
                    name="requestChannelzoneNo"
                    value="0200"
                  />
                  <input
                    type="hidden"
                    id="serviceId"
                    name="serviceId"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="serviceIdInto"
                    name="serviceIdInto"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="transData"
                    name="transData"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="loginCardFlag"
                    name="loginCardFlag"
                    value="0"
                  />

                  <input
                    type="hidden"
                    id="ua"
                    name="ua"
                    value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.81 Safari/537.36"
                  />
                  <input type="hidden" id="language" name="language" value="" />
                  <input
                    type="hidden"
                    id="netType"
                    name="netType"
                    value="130"
                  />
                  <input
                    name="randomId"
                    type="hidden"
                    value="1551098656201230864"
                  />
                  <input name="data" type="hidden" value="" />
                  <input name="ComputID" type="hidden" value="18" />
                  <input name="PlatFlag" type="hidden" value="3" />
                  <input name="logonSrc" type="hidden" value="1" />
                  <input
                    name="serviceIdfirst"
                    id="serviceIdfirst"
                    type="hidden"
                    value=""
                  />
                  <input name="orgurl" id="orgurl" type="hidden" value="0" />
                  <input name="APPNO" id="APPNO" type="hidden" value="31" />
                  <input name="ccsi" id="ccsi" type="hidden" value="" />
                  <input type="hidden" name="resolution" value="" />
                  <div class="login-panel" style="background: white;">
                    <div class="form-area">
                      <div class="form-area-line" style="padding-top:15px;">
                        <div
                          class="label-login"
                          id="label-login-id"
                          style="padding-bottom:0px;float:left;padding-top:11px;width:220px"
                        >
                          <span><b id="logintips">登录</b></span>
                        </div>

                        <div style="float:left">
                          <a
                            href="javascript:form2submit();"
                            target="_self"
                            style="text-decoration: none;"
                          >
                            <img
                              width="46px"
                              height="46px"
                              style="border: currentColor;"
                              src="https://epass.icbc.com.cn/images/login/erwm.png"
                            />
                          </a>
                        </div>
                      </div>
                      <div class="form-area-line">
                        <div class="wrapper-obj">
                          <div
                            style="float: left;"
                            class="login_username"
                          ></div>
                          <div style="float: left;">
                            <label
                              class="place-holder"
                              id="logonNameHolder"
                              for="logonCardNum"
                              style="display: block;"
                              >卡（账）号/手机号/用户名</label
                            >
                            <input
                              id="logonCardNum"
                              name="logonCardNum"
                              class="input-uname"
                              value=""
                              maxlength="22"
                              onkeydown="if((pebankBrowserCompatible.isSafari()||pebankBrowserCompatible.isFirefox()||pebankBrowserCompatible.isChrome())&&pebankBrowserCompatible.getKeycode(event)==9)event.preventDefault();"
                              onkeyup="getfocus1('safeEdit1',event)"
                              style="ime-mode: disabled"
                              autocomplete="off"
                              autocorrect="off"
                              autocapitalize="off"
                              spellcheck="false"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-area-line" style="margin-bottom:0px;">
                        <div class="wrapper-obj">
                          <div
                            style="float: left; "
                            class="login_password"
                          ></div>
                          <div
                            style="float: left;padding-top: 4px;width: 230px"
                          >
                            <div
                              id="safeEdit1div"
                              style="display:inline;margin-right:6px;"
                            >
                              <object
                                id="safeEdit1"
                                style="background-color: white; vertical-align: middle; display: none;"
                                type="application/x-icbc-plugin-chrome-npxxin-input"
                                width="200"
                                height="24"
                                onmousedown="this.focus();"
                                nextelemid="verifyCodeCn"
                                onkeyup="getfocus1('verifyCodeCn', event);"
                                onfocus="clearErrTip();detectCapsLock('logonform','safeEdit1',670,140,400,'logontb');"
                                onblur="closeCapTip('logonform','safeEdit1')"
                              >
                                <param name="keyname" value="logonCardPass" />
                                <param name="minLength" value="4" />
                                <param name="maxLength" value="30" />
                                <param name="rule" value="10111" />
                                <param
                                  name="UniqueID"
                                  value="1551098656201230864"
                                />
                                <param name="isPassword" value="1" />
                                <param name="prompttext" value="登录密码" />
                                <param
                                  name="prompttextcolor"
                                  value="102,102,102"
                                />
                                <param
                                  name="backgroundcolor"
                                  value="255,255,255"
                                />
                                <param name="isbordervisible" value="0" />
                                <param name="scryptAlg" value="2" />
                                <param name="ruleName" value="ruleName" />
                                <param
                                  name="changeRuleName"
                                  value="changeRuleName"
                                />
                                nextElemId="verifyCodeCn"
                                onKeyUp="getfocus1('verifyCodeCn', event);"
                                onfocus="clearErrTip();detectCapsLock('logonform','safeEdit1',670,140,400,'logontb');"
                                onblur="closeCapTip('logonform','safeEdit1')"
                                &gt; &nbsp;
                              </object>
                            </div>
                            <input
                              type="hidden"
                              name="logonCardPass_cryptAlg"
                              value="1"
                            />
                            <input
                              type="hidden"
                              id="HWInfo"
                              name="HWInfo"
                              value=" "
                            />

                            <a
                              id="plagin_download_tip"
                              style="color:blue;"
                              href="/ICBCChromeExtension.msi"
                              ><div style="width:100%;white-space:normal;">
                                请您点击安装网银控件，并重启浏览器
                              </div></a
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="form-area-line"
                        style="line-height:32px;overflow:hidden;margin-bottom:0px;text-align:right;font-size:14px;width: 270px;"
                      >
                        <a
                          href="/resetpwd/reset_pwd_index.jsp?StructCode=1&amp;encryptedData=w9A3onPU54b7Lq9Du2GSCLs8Fpe9sVkrmFZHbpyAf74JsR6gEJL8ONaW1btfSEuQ7VZKRFqR6osR&#10;Rr2cbm2XcEMBgjny0OOiSRhxSFBbuxRRV4vtmX9Yx3P%2BsNG/NBkVRpO50SyI2CJm5WA1XLL3lMzS&#10;nlcpqSHdRjGz8UaOW69r/70YBfOn0CPyVMaYcOVAd7cJbWx%2B8g3OZYYLzkofLo38v%2BXI3qG3r4O%2B&#10;c9yj1bKDJiYeNRGV4ZdGCnHhsu0hgM/rhHRe25tWjjXXXKLThYhH%2BEtyjlovZTaRIN0Q9S1u1Poq&#10;EX3b2D2WC%2BsWOUBoVOHtTIT66nR6zjghWDRUBRaOWgCymHBey9LxoZBQHt4fPxPpejeFNJpHaU7V&#10;DkggWQD7PZqclCfbVho7WFutMqxxDNt5wgEpw8Cz7ssPCDk=%2B"
                          target="_top"
                          class="link-pwd"
                          hidefocus="true"
                          tabindex="100"
                          >忘记密码</a
                        >
                      </div>
                      <div class="form-area-line" style="margin-bottom: 0px">
                        <div class="wrapper-obj-left">
                          <div style="float: left;" class="login_verify"></div>
                          <div style="float: left;padding-top: 4px">
                            <div
                              style="position:relative;display:inline-block;_display:inline;_zoom:1;width:135px;"
                            >
                              <label
                                class="place-holder"
                                id="verifyCodeCnHolder"
                                for="verifyCodeCn"
                                >验证码</label
                              ><input
                                type="text"
                                id="verifyCodeCn"
                                name="verifyCodeCn"
                                value=""
                                maxlength="4"
                                autocomplete="off"
                                style="width:135px;ime-mode:inactive;border: none"
                                nextelemid="login"
                                onkeyup="if(navigator.userAgent.toLowerCase().indexOf('chrome')!=-1 && navigator.userAgent.toLowerCase().indexOf('edge')==-1){getfocus1('loginLink', event);}else if(navigator.userAgent.toLowerCase().indexOf('safari')!=-1 && navigator.userAgent.toLowerCase().indexOf('edge')==-1){}else if(navigator.userAgent.toLowerCase().indexOf('firefox')!=-1){getfocus1('loginLink', event);}else if(navigator.userAgent.toLowerCase().indexOf('edge')!=-1){getfocus1('loginLink', event);}else{if(pebankBrowserCompatible.getKeycode(event)==13) { loginSubmit();}}"
                                onkeydown="if(navigator.userAgent.toLowerCase().indexOf('safari')!=-1 && navigator.userAgent.toLowerCase().indexOf('edge')==-1){getfocus1('loginLink', event);}"
                                onfocus="clearErrTip()"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                              /><input
                                type="hidden"
                                id="verifyCode"
                                name="verifyCode"
                                value=""
                              />
                            </div>

                            <style>
                              #verifyCodeCnHolder {
                                z-index: 2;
                                position: absolute;
                                color: #666;
                                top: -3px;
                              }
                            </style>
                          </div>
                        </div>
                        <div
                          class="vcode-img-wrapper"
                          style="height: 36px; overflow: hidden; display: block;"
                        >
                          <iframe
                            frameborder="0"
                            name="VerifyimageFrame"
                            id="VerifyimageFrame"
                            scrolling="no"
                            src=""
                            marginheight="0"
                            marginwidth="0"
                            height="36"
                            width="90"
                            onload=""
                            style="display: none;"
                          >
                          </iframe>
                          &nbsp;<a
                            class="link"
                            id="link4Verifyimage2Name"
                            href="javascript:vcf(1)"
                            style="color: rgb(90, 165, 255); display: inline;"
                            >刷新验证码</a
                          >
                        </div>
                      </div>
                      <div
                        class="form-area-line"
                        style="margin-bottom:0px;height: 36px;width:270px"
                      ></div>

                      <div class="form-area-line form-area-line-login">
                        <a
                          id="loginLink"
                          href="javascript:void(0);"
                          onfocus="this.blur()"
                        >
                          <div
                            id="loginBtn"
                            class="login-btn n_btn"
                            onclick="loginSubmit()"
                          >
                            <span class="login-text"
                              >登&nbsp;&nbsp;&nbsp;录</span
                            >
                            <img
                              class="login-loader"
                              src="https://epass.icbc.com.cn/images/login/load.gif"
                              width="22px"
                              height="22px"
                              style="display: none;"
                            />
                          </div>
                        </a>
                      </div>
                      <div
                        class="form-area-line text-left"
                        style="line-height: 25px; display: block;"
                        id="registlinkdiv"
                      >
                        <div
                          class="form-area-link"
                          id="registlink"
                          style="display: block;"
                        >
                          <a
                            href="/regist/regist_index.jsp?StructCode=1&amp;encryptedData=w9A3onPU54b7Lq9Du2GSCLs8Fpe9sVkrmFZHbpyAf74JsR6gEJL8ONaW1btfSEuQ7VZKRFqR6osR&#10;Rr2cbm2XcEMBgjny0OOiSRhxSFBbuxRRV4vtmX9Yx3P%2BsNG/NBkVRpO50SyI2CJm5WA1XLL3lMzS&#10;nlcpqSHdRjGz8UaOW69r/70YBfOn0CPyVMaYcOVAd7cJbWx%2B8g3OZYYLzkofLo38v%2BXI3qG3r4O%2B&#10;c9yj1bKDJiYeNRGV4ZdGCnHhsu0hgM/rhHRe25tWjjXXXKLThYhH%2BEtyjlovZTaRIN0Q9S1u1Poq&#10;EX3b2D2WC%2BsWOUBoVOHtTIT66nR6zjghWDRUBRaOWgCymHBey9LxoZBQHt4fPxPpejeFNJpHaU7V&#10;DkggWQD7PZqclCfbVho7WFutMqxxDNt5wgEpw8Cz7ssPCDk=%2B"
                            target="_blank"
                            style="text-decoration: none;"
                            >立即注册
                          </a>
                        </div>
                        <div
                          id="epaylink"
                          class="form-area-link"
                          title=""
                          style="display:none"
                        >
                          <div
                            class=" form-area-link-line"
                            style="padding-left: 16px;padding-right: 16px;padding-top: 3px;"
                          >
                            96114676:已为您升级电子银行服务，请点击<a
                              href="/resetpwd/reset_pwd_index.jsp?StructCode=1&amp;encryptedData=w9A3onPU54b7Lq9Du2GSCLs8Fpe9sVkrmFZHbpyAf74JsR6gEJL8ONaW1btfSEuQ7VZKRFqR6osR&#10;Rr2cbm2XcEMBgjny0OOiSRhxSFBbuxRRV4vtmX9Yx3P%2BsNG/NBkVRpO50SyI2CJm5WA1XLL3lMzS&#10;nlcpqSHdRjGz8UaOW69r/70YBfOn0CPyVMaYcOVAd7cJbWx%2B8g3OZYYLzkofLo38v%2BXI3qG3r4O%2B&#10;c9yj1bKDJiYeNRGV4ZdGCnHhsu0hgM/rhHRe25tWjjXXXKLThYhH%2BEtyjlovZTaRIN0Q9S1u1Poq&#10;EX3b2D2WC%2BsWOUBoVOHtTIT66nR6zjghWDRUBRaOWgCymHBey9LxoZBQHt4fPxPpejeFNJpHaU7V&#10;DkggWQD7PZqclCfbVho7WFutMqxxDNt5wgEpw8Cz7ssPCDk=%2B"
                              target="_top"
                              class="link-pwd"
                              hidefocus="true"
                              tabindex="100"
                              >账户升级</a
                            >以获取更多服务。
                          </div>
                        </div>
                      </div>
                      <div
                        class="form-area-line text-left"
                        style="line-height: 25px"
                      >
                        <div
                          id="errors"
                          class="form-area-link"
                          title=""
                          style="display: none;"
                        >
                          <div
                            id="errorstext"
                            class=" form-area-link-line"
                            style="padding-left: 16px;padding-right: 16px;padding-top: 3px;"
                            title=""
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form
                  id="form2"
                  name="form2"
                  action="/servlet/ICBCBaseReqServletNoSession"
                  method="get"
                  onsubmit="return false;"
                >
                  <input
                    type="hidden"
                    name="dse_operationName"
                    value="epass_CreateQRCodeOp"
                  />
                  <input
                    type="hidden"
                    id="serviceId"
                    name="serviceId"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="serviceIdInto"
                    name="serviceIdInto"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="transData"
                    name="transData"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="StructCode"
                    name="StructCode"
                    value="1"
                  />
                  <input type="hidden" id="clientIP" name="clientIP" value="" />
                  <input type="hidden" id="orgurl" name="orgurl" value="0" />
                  <input type="hidden" id="APPNO" name="APPNO" value="31" />
                  <input
                    type="hidden"
                    id="betaFlag"
                    name="betaFlag"
                    value="1"
                  />
                </form>
                <canvas
                  width="0"
                  height="0"
                  id="myCanvas2"
                  style="position: absolute; left: 0px; top:0px;"
                ></canvas>
                <iframe
                  id="hiddenPage1551098656201230864"
                  name="hiddenPage1551098656201230864"
                  src="https://epass.icbc.com.cn/login/1.html"
                  height="0"
                  width="0"
                  style="display:none"
                  >&nbsp;</iframe
                >
                <div id="safeSubmit1div">
                  <aaa
                    name="safeSubmit1"
                    style="margin-left:2px;"
                    type="application/x-icbc-plugin-chrome-npsubmit"
                    id="safeSubmit1"
                    width="0"
                    height="0"
                  >
                  </aaa>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
